        body {
            background-color: lavender;
            background: url(img/cedric-vt-CpYPdM1_kYQ-unsplash.jpg);
            background-size: 100% auto;
        }

        td {
            padding: 0.4em;
            border: 2px solid darkred;
            border-radius: 0.2em;
            background-color: ivory;
        }

        th {
            background-color: ivory;
            border: 2px solid midnightblue;
        }

        table {
            border-spacing: 0.4em;
        }

        body {
            margin: auto;
            max-width: 50em;
        }

        .number-item {
            background: url(sprite-regular.jpg);
            display: inline-block;
            height: 155px;
            width: 155px;
            padding: 0em;
        }

        #interface {
            margin: auto;
            max-width: 30em;
        }
        .glyph-image {
            max-width: 3.5em;
        }
        p, details, summary, footer {
            color: darkslategray;
        }
        p, h2, footer {
            border-radius: 0.15em;
            padding: 0.4em;
            border: 2px solid indianred;
            background-color: aliceblue;
        }
        section, aside {
            color: darkslategray;
            padding: 0.4em;
            border: 2px solid midnightblue;
            background-color: rgba(255, 255, 240, 0.85);
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
        summary {
            margin: 0.2em 0; padding: 0.4em; border: 2px solid lightcoral; background-color: ivory;
        }

#call-to-action {
    margin-top: 0.5em;
    margin-right: 3em;
}
.blog-nav-link {
    border: 2px solid #1E135F;
    border-radius: 4px;
    background-color: rgb(247, 236, 245);
    padding: 0.2em;
    margin: 0.1em auto;
    display: inline-block;
    color: #664444;
    text-decoration: none;
    font-family: "raleway";
    text-align: center;
}
.forty-em-one-column {
    max-width: 40em;
    margin: auto;
}
.full-column-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
/*.pure-g {display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;}*/